%h2 しまかぜブラウザへようこそ

%h3 世界最速のコミケカタログ
%p
  しまかぜブラウザは、全てのサークルを超高速でチェックすることに特化したWeb版コミケカタログです。
  キーボードで全ての操作が完結します。

%h3 利用条件
%p
  しまかぜブラウザの利用には、
  %strong コミケWebカタログ・有料プラン(Gold会員)」を選択したCircle.msアカウント
  が必要です。

%h3 利用環境
%p
  モダンなブラウザなら動くと思います。
  キーボード操作という観点からモバイル対応する予定はありません。

%h3 使ってみよう
%p
  右上の
  %button.btn.btn-danger
    %i.icon-signin
    Sign in
  をクリックしてログイン!
